.background{
    width: "100vw";
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: powderblue;
}

.bouncyball{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    animation-name: bounce;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from{
        top: 600px
    }
    to{
        top:0px
    }
}
